    .Content{
        width: 70%;
        margin-left:  40px;
        margin-top:40px;
        
    }
    .textarea_section{
     width: 100%;
     display: flex;
     
    }
    .textarea_1{
     width: 100%;
     padding: 10px 10px;
     font-size: 16px;
     min-height: 50px;
     background-color: white;
     box-shadow: 0px 9.05305px 18.1061px #EDEDF5;
     border-radius: 7px;
     
     
    }
    .button_section{
        
        margin-top: 5px;
        
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
       
      
    }
    .button_to_click{
        
        box-shadow: 0px 9.05305px 18.1061px #EDEDF5;
        border-radius: 7px;
        cursor: pointer;
        background-color:white ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        font-size: 12px;
        margin-left: 10px;
        
        padding: 10px 10px;
    
        
        
    }
    .CommentPost{
      margin-left: 0px;  
      flex-grow: 1;
      display: flex;
      
      justify-content: flex-end;
      align-items: center;
    }
    .textarea_comment{
        resize:none;
        margin-right: 0px;
 
        border:0px;
        outline:0px;
        background-color: rgb(29, 7, 131);
    }
    .Delete:hover {
        background-color:rgba(226, 21, 106, 0.63) ;
        transition: 0.7s;
        color: white;
        
    }
    .buttons_comment_section{
        display: flex;
    }
    