
.wrapper{
  display: flex;
}

.nav-section{
  min-width:  230px;

}

section{
  flex-grow: 1;
  min-height: 100vh;
  background: #FAF9FC;
  display:flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
.Content{
  margin-left:  40px;
  margin-top:40px;
  font-size: 30px;
  width: 60%;
  
}
.loader{
  width: 200px;
  position: absolute;
  top: 35%;
  left: 45%;
}
